html {
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.Logo {
    position: relative;
    width: fit-content;
}
.Logo--Title {
    font-size: 4rem;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}
.Logo--Sub {
    position: absolute;
    right: -20px;
    bottom: -5px;
    transform: rotate(-15deg);
    color: rgb(175, 16, 16);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    animation: 3s linear infinite js_animation;
}
@keyframes js_animation {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(-5deg); }
    100% { transform: rotate(-15deg); }
}
.Logo--Version {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
}

.Menu {
    margin-top: 30px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background: var(--color-overlay);
    border-radius: 10px;
}

.Options__Header {
    text-decoration: underline;
}
.Options__Row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 10px;
}
.Option.selected {
    background-color: var(--color-highlight);
}